.jumbotron{
  text-align: center;
  font-size: 30px;
}

body{
position: fixed;
align-content: center;
    font-size: 25px;
  font-style: normal;
}

.logo{
  width:100%;
  text-align: center;

}

.nav{
  align-items: center;
  width:100%;
}
