/* Logo and Headline/motto*/

.logo{
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
  text-align: center;
}

/*Motto*/

.header{
  position:fixed;
  top:330;
  width:100%;
  text-align: center;
  font-size: 30px;
}

/*Nav Bar*/

.nav{
  overflow:hidden;
  position:fixed;
  top:375;
  width:100%;
}

.welcome{
  position:fixed;
  top:500;
  width:100%;
  font-size: 20px;
}

/*Body*/

body{
  overflow-y: auto;
align-content: center;
    font-size: 25px;
  font-style: normal;
}
